   <% layout('layouts/boilerplate') %> 
   <h4 class="d-flex justify-content-center mb-3">
    Looking for a place to camp in nature? Check out our list of the best campgrounds in the area!</h4>

   <div id="cluster-map"></div>

  
    <div>
        <a href="/shelters/new">New Shelter</a>
    </div>
    <ul>
        <% for (let shelter of shelters) {%>
            <div class="card mb-3">
                <div class="row">
                <div class="col-md-4">
                    <% if(shelter.images.length) {%> 
                    <img src="<%= shelter.images[0].url %> " class="img-fluid" alt="...">
                    <% } else { %>
                        <img class="img-fluid" src="https://res.cloudinary.com/dbcrwpvfy/image/upload/v1665810306/YourShelter/nrivak8fdupe2wdrfs0d.jpg"
                    <% } %>  
                </div>
                <div class="col-md-8">
                    <div class="body">
                        <h3 class="card-title"><%= shelter.title %> </h3>
                        <p class="card-text"><%= shelter.description %> </p>
                        <p class="card-text"><small class="text-muted"><%= shelter.location %> </small></p>
                        <a class="btn btn-primary" href="/shelters/<%= shelter._id %>">View <%= shelter.title %> </a>
                    </div>
                </div>
            </div>
        </div>
            <% } %>  
    </ul>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const shelters = {features: <%- JSON.stringify(shelters) %>}
      </script>
    <script src="/javascripts/clusterMap.js"></script>

   